<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="footer">
    <!--===============================================================================================-->
    <script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/vendor/bootstrap/js/popper.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/vendor/select2/select2.min.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/vendor/daterangepicker/moment.min.js}"></script>
    <script th:src="@{/vendor/daterangepicker/daterangepicker.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/vendor/countdowntime/countdowntime.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/js/main.js}"></script>
</div>

</body>
</html>