<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <div th:replace="/header :: header"> </div>

</head>
<body style="background-color: #666666;">

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form validate-form" style="padding: 23px 55px 55px 55px !important; ">
					<span class="login100-form-title p-b-43">
						Profile
					</span>
                <div class="alert">
                    <p th:text="${error}" style="color: red;"></p>
                    <p th:text="${success}" style="color: green;"></p>
                </div>
                <div style=" padding: 10px 20px 22px;">
                    <label>First Name:
                        <span th:text="${user.firstName}"></span>
                    </label>
                </div>
                <div style=" padding: 10px 20px 22px;">
                    <label>Last Name:
                        <span th:text="${user.lastName}"></span>
                    </label>
                </div>

                <div style=" padding: 10px 20px 22px;">
                    <label>Phone Number:
                        <span th:text="${user.phoneNumber}"></span>
                    </label>
                </div>

                <div style=" padding: 10px 20px 22px;">
                    <label>Email:
                        <span th:text="${user.email}"></span>
                    </label>
                    <form th:action="@{resetPassword}" th:object="${user}" th:method="post"
                          style="padding: 23px 55px 55px 55px !important; ">
                        <input name="email" th:field="*{email}" hidden>
                        <input name="userId" th:field="*{userId}" hidden>
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn">
                                Reset Password
                            </button>
                        </div>
                    </form>
                </div>

                <br/>

            </div>


            <div class="login100-more" style="background-image: url('images/bg-01.jpg');">
            </div>
        </div>
    </div>
</div>
<div th:replace="/footer :: footer"> </div>

</body>
</html>