<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
    <div th:replace="/header :: header"> </div>

</head>
<body style="background-color: #666666;">

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" th:action="@{signUpSubmit}" th:object="${user}" th:method="post" style="padding: 23px 55px 55px 55px !important; ">
					<span class="login100-form-title p-b-43">
						SignUp to continue
					</span>
                <div>
                    <table>
                        <tr th:each="error: ${error}">
                            <td><p style="color: red;" th:text="${error}"></p></td>
                        </tr>
                    </table>
                </div>
                <div class="wrap-input100 validate-input" data-validate = "First Name is required">
                    <input class="input100" type="text" name="firstName" th:field="*{firstName}" required>
                    <span class="focus-input100"></span>
                    <span class="label-input100">firstName</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Last Name is required">
                    <input class="input100" type="text" name="lastName" th:field="*{lastName}" required>
                    <span class="focus-input100"></span>
                    <span class="label-input100">lastName</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Phone Number is required">
                    <input class="input100" type="text" name="phoneNumber" th:field="*{phoneNumber}" required>
                    <span class="focus-input100"></span>
                    <span class="label-input100">phoneNumber</span>
                </div>


                <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" name="email" th:field="*{email}" required>
                    <span class="focus-input100"></span>
                    <span class="label-input100">Email</span>
                </div>


                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" name="password" th:field="*{password}" required>
                    <span class="focus-input100"></span>
                    <span class="label-input100">Password</span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        SignUp
                    </button>
                </div>
                <br/>

            </form>


            <div class="login100-more" style="background-image: url('images/bg-01.jpg');">
            </div>
        </div>
    </div>
</div>

<div th:replace="/footer :: footer"> </div>

</body>
</html>